
<div class="d-flex flex-column app-container">
  <ul class="nav justify-content-between position-absolute w-100">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./']" routerLinkActive="active">Home</a>
    </li>
    <li class="d-flex">
      <div class="d-inline nav-item">
        <a class="nav-link" [routerLink]="['./login']" routerLinkActive="active">Login</a>
      </div>
      <div class="d-inline nav-item mr-2">
        <a class="nav-link" [routerLink]="['./register']" routerLinkActive="active">Register</a>
      </div>

    </li>
  </ul>

  <div class="flex-fill">
    <router-outlet></router-outlet>
  </div>

  <div class="footer mt-auto py-3">
    <div class="d-flex align-items-center justify-content-center">
      <p class="m-0">Made with lot of </p>
      <mat-icon class="mx-1" style="color: red">favorite</mat-icon>
      <p class="m-0">by <strong>BACHIR MEHEMMEL</strong></p>
    </div>
  </div>
</div>
